@model IEnumerable<BookstoreA.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h1>Livros</h1>

<p>
    <a asp-action="Create" style="text-decoration: none;">Adicionar novo livro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genres)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details"
                       asp-route-id="@item.Id">
                        @Html.DisplayFor(modelItem => item.Title)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseYear)
                </td>
                <td>
                    @foreach (Genre genre in item.Genres)
                    {
                        <a asp-controller="Genres"
                           asp-action="Details"
                           asp-route-id="@genre.Id"
                           style="text-decoration: none;"
                           class="text-primary">
                            @genre.Name
                        </a>
                        <br />
                    }
                </td>
                <td>
                    <a asp-action="Details"
                       asp-route-id="@item.Id"
                       title="Detalhes"
                       class="btn btn-outline-info px-2 rounded mx-1">
                        <i class="bi bi-list-ul"></i>
                    </a>
                    <a asp-action="Edit"
                       asp-route-id="@item.Id"
                       title="Editar"
                       class="btn btn-outline-warning px-2 rounded mx-1">
                        <i class="bi bi-pencil-fill"></i>
                    </a>

                    <a asp-action="Delete"
                       asp-route-id="@item.Id"
                       title="Excluir"
                       class="btn btn-outline-danger px-2 rounded mx-1">
                        <i class="bi bi-trash-fill"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>